
#content {
	min-height: 500px;
}

#viewport{
	width: 100%;
}

.hash-search-menu{
	margin-bottom: 10px;
}

.tweets-holder{
	height: 250px;  
	overflow-x: hidden;
	overflow-y: scroll;
}

.tweets-holder > ul > .list-group-item-info, .tweets-holder > ul >.list-group-item-danger{
	color: #000000;
}