<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <a href="#/hashDetails">Hashtag Details </a>:{{param}} <small>Statistics Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> #{{param}}
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row" id="content" ng-hide="loading">                    
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div id="freqChart" class="charts"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div id="sentiChart" class="charts"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="form-inline">
                              <div class="form-group">
                                <label for="week">View from the week of: </label>
                                <select class="form-control" ng-model = "week" ng-change="change()" id="dates">
                                    <option ng-repeat = "n in weeks" value="{{n.unix}}"> {{n.datetime}}</option>        
                                </select>
                              </div>        
                            </form>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div id="assoGraph" class="row"></div>                    
                        </div>
                    </div>                   
                    <div class="row" style="margin-top:10px"  ng-show="haveTweets">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                             <div class="row">
                                <div class="col-xs-4">
                                    <ul class="list-group">                                    
                                        <li class="list-group-item list-group-item-info">Positive Tweets</li>                                        
                                        <li class="list-group-item list-group-item-danger">Negative Tweets</li>
                                    </ul>
                                </div>
                                <div class="col-xs-4">
                                  <label for="search">Search:</label>
                                  <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                </div>                                
                                <div class="col-xs-4" style="display:none">
                                  <label for="search">Tweets per page:</label>
                                  <input type="number" min="1" max="5" class="form-control" ng-model="pageSize">
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-body tweets-holder">
                                    <ul class="list-group">
                                        <li class = "tweets list-group-item {{tweet.sentiment}}" 
                                        dir-paginate="tweet in tweets | filter:q | itemsPerPage: pageSize" 
                                        current-page="currentPage">                                        
                                            <h6 class="list-group-item-heading">{{ tweet.timestamp }}</h6>
                                            <p class="list-group-item-text" ng-bind-html="to_trusted(tweet.text)"></p>                                            
                                        </li>
                                    </ul>                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="partials/dirPagination.tpl.html">
                                    </dir-pagination-controls>
                                </div>                                
                            </div>
                        </div>
                    </div>  
                    <div class="row" ng-show="!haveTweets">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body tweets-holder">
                                    <div>
                                        <h3>No Tweets Found for this week</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                                    
                </div>
            </div>            
        </div>
    </div> 
    <div class="row" ng-show="loading">
        <div class="col-lg-offset-5">
            <img src="img/loader.gif">
        </div>
    </div>              
</div>