<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-4" id="hashtags-list">
  	<form class="form-horizontal" role="form" id="hash-form">
	  <div class="form-group">
	    <label for="hash" class="col-md-6 control-label">View Tweets for:</label>
	    <div class="col-md-4">
			<select class="form-control" name ="hash" id ="hash"></select>					
	    </div>			   
	  </div>
	</form>	
  </div>  
</div>
<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
  	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">All Tweets</div>
	  <!-- List group -->
	  <ul class="list-group" id="tags-tweets"></ul>
	</div>
  </div>  
</div>